*{
	padding:0;
	margin: 0;

}
#header{
	height: 50px;
	background-color: rgba(0,0,0,.2);
	color: #000;
	width: 100%;
}
#title{
	width: 40%;
	float: left;
	margin-left: 30px;
	padding-top:0px;
}
#title p{
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}
#menu{
	width: 57%;
	float: left;
}
#menu ul li{
	display: inline-block;
	list-style: none;
	width: 16%;
	line-height: 50px;
}
#menu ul li a{
	text-decoration: none;
}
#nav{
	display: none;
}
@media (max-width: 994px){
	#nav{
		display: block;
		float: right;
		/*margin-top: -32px;*/
		line-height: 50px;

	}
	#nav{
		margin-right: 20px;

	}

	#menu ul li{
		display: block;
		border: 1px solid gray;
		width: 100%;

	}
	#menu{
		background-color: rgba(0,0,0,.2);
		position: absolute;
		left: -60%;
	}
	#menu ul li a{
		padding-left: 150px;
		font-size: 20px;

	}
	#content1{
		display: none;
	}
}

#content1{
	width: 100%;
	height: 40px;
}
	#content1 p{
		line-height: 40px;
		float: right;
		margin-right: 4px;
	}
	#content1>p>a{
		text-decoration: none;
		color: red;
	}
#content2{
	width: 100%;
	height: 700px;
	background-color: rgba(0,0,0,.2);
	text-align: center;
}
	