.inner-banner {
	background: transparent url(../Image/inner-banner.jpg) center top no-repeat;
    background-size: cover;
    padding-top: 238px;
    padding-bottom: 80px;
}
.breadcrumbs {
	margin-top: 7px;
	color: #fff;
}

.breadcrumbs a {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}
.breadcrumbs a.active {
	color: #ec9a5d;
}
.padding1 {
	padding-right: 30px;
    padding-left: 30px;
}
.padding2 {
    padding-left: 30px;
}
.itemx {
	margin-bottom: 80px;
}
#main {
	padding: 100px 0;
}
.main-img {
	margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.main-img img {
	-webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;
}
.main-img:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.main-img:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.main-img:hover:after {
    opacity: 1;
}
.main-date {
	color: #EC9A5D;
    font-weight: bold;
    font-size: 17px;
    line-height: 1em;
    margin-bottom: 18px;
}
.itemx h3 {
    color: #242424;
    font-weight: bold;
    font-size: 22px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 20px;
}
.itemx h3:hover {
	text-decoration: underline;
	color: #EC9A5D;
}
.main-info {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 1px solid #E4E4E4;
    padding-top: 20px;
    margin-bottom: 30px;
}
.main-info p {
    font-weight: bold;
    color: #B8B8B8;
    line-height: 1.2em;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
}
p.details {
    color: #797979;
    line-height: 28px;
    font-size: 17px;
}
a.more {
	color: #fff;
    font-size: 14px;
    background: #A13D36;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    padding: 14px 23px;
    margin-top: 30px;
}
.single-sidebar {
	margin-bottom: 40px;
}
.single-sidebar h3 {
    margin: 0;
    color: #242424;
    font-weight: 800;
    font-size: 22px;
    line-height: 1em;
    letter-spacing: 0;
    position: relative;
    margin-bottom: 17px;
}
.single-sidebar h3:after {
    content: '';
    width: 35px;
    height: 3px;
    background: #e2a062;
    display: inline-block;
    margin-left: 15px;
}
.labels li a {
	display: block;
    color: #797979;
    font-weight: bold;
    letter-spacing: .03em;
    font-size: 17px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
}
.labels li a:after {
	content: '\f105';
    font-family: 'FontAwesome';
    color: #c8c8c8;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 0;
}
.img-boxx {
	width: 93px;
	float: left;
}
.text-boxx {
	display: table-cell;
    vertical-align: middle;
}
.text-boxx h4 {
	color: #242424;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    letter-spacing: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
span.date2 {
	color: #9A9A9A;
    font-size: 14px;
    line-height: 28px;
    display: block;
    font-weight: bold;
}
.single-post {
    margin-bottom: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}
.single-post:last-child {
	border-bottom: 0;
}
.tags li {
	float: left;
	margin-right: 10px;
}
.tags li a {
	display: block;
    color: #a6a6a6;
    font-size: 15px;
    border: 1px solid #a6a6a6;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 10px;
    padding: 10px 15px;
}
.tags li a:hover {
	border-color: #EC9A5D;
    background: #EC9A5D;
    color: #fff;
}